.navbar-interactive-container {
  display: flex;
  position: relative;
}
.navbar-interactive-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.navbar-interactive-desktop-menu {
  display: flex;
  align-self: center;
  justify-content: center;
}
.navbar-interactive-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar-interactive-home {
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  text-decoration: none;
}
.navbar-interactive-portraits {
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-application-photos {
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-travel {
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-prices {
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-portfolio {
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-contact {
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.navbar-interactive-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-interactive-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-interactive-image {
  height: 2rem;
}
.navbar-interactive-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-interactive-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-home1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-portraits1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-application-photos1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-travel1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-prices1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-portfolio1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-contact1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-icon-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}






@media(max-width: 767px) {
  .navbar-interactive-navbar-interactive {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .navbar-interactive-desktop-menu {
    display: none;
  }
  .navbar-interactive-portraits {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-application-photos {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-travel {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-prices {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-portfolio {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-contact {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-burger-menu {
    display: flex;
  }
  .navbar-interactive-icon {
    fill: #D9D9D9;
  }
  .navbar-interactive-mobile-menu {
    background-color: #27272D;
  }
  .navbar-interactive-icon2 {
    fill: #ffffff;
  }
  .navbar-interactive-home1 {
    color: rgb(255, 255, 255);
  }
  .navbar-interactive-portraits1 {
    color: rgb(255, 255, 255);
  }
  .navbar-interactive-application-photos1 {
    color: rgb(255, 255, 255);
  }
  .navbar-interactive-travel1 {
    color: rgb(255, 255, 255);
  }
  .navbar-interactive-prices1 {
    color: rgb(255, 255, 255);
  }
  .navbar-interactive-portfolio1 {
    color: rgb(255, 255, 255);
  }
  .navbar-interactive-contact1 {
    color: rgb(255, 255, 255);
  }
  .navbar-interactive-root-class-name {
    align-self: flex-start;
  }
  .navbar-interactive-root-class-name1 {
    align-self: flex-start;
  }
  .navbar-interactive-root-class-name2 {
    align-self: flex-start;
  }
  .navbar-interactive-root-class-name3 {
    align-self: flex-start;
  }
  .navbar-interactive-root-class-name4 {
    align-self: flex-start;
  }
  .navbar-interactive-root-class-name5 {
    align-self: flex-start;
  }
}
@media(max-width: 479px) {
  .navbar-interactive-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar-interactive-mobile-menu {
    padding: 16px;
  }
  .navbar-interactive-root-class-name3 {
    align-self: flex-start;
  }
}

.gallery-horizontal-gallery-horizontal {
  flex: 0 0 auto;
  width: 90%;
  height: auto;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.gallery-horizontal-link {
  display: contents;
}
.gallery-horizontal-image {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.gallery-horizontal-link1 {
  display: contents;
}
.gallery-horizontal-image1 {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.gallery-horizontal-link2 {
  display: contents;
}
.gallery-horizontal-image2 {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}

.gallery-horizontal-root-class-name1 {
  margin-bottom: var(--dl-space-space-twounits);
}


.gallery-horizontal-root-class-name4 {
  margin-bottom: var(--dl-space-space-twounits);
}

.gallery-horizontal-root-class-name6 {
  margin-bottom: var(--dl-space-space-twounits);
}






@media(max-width: 1600px) {
  .gallery-horizontal-gallery-horizontal {
    flex-direction: row;
  }
  .gallery-horizontal-image {
    height: 100%;
  }
  .gallery-horizontal-image1 {
    height: 100%;
  }
  .gallery-horizontal-image2 {
    height: 100%;
  }
}
@media(max-width: 767px) {
  .gallery-horizontal-gallery-horizontal {
    align-items: center;
    flex-direction: column;
  }
  .gallery-horizontal-image {
    margin: var(--dl-space-space-unit);
  }
  .gallery-horizontal-image1 {
    margin: var(--dl-space-space-unit);
  }
  .gallery-horizontal-image2 {
    margin: var(--dl-space-space-unit);
    margin-top: var(--dl-space-space-unit);
  }
  .gallery-horizontal-root-class-name {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .gallery-horizontal-root-class-name1 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .gallery-horizontal-root-class-name2 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .gallery-horizontal-root-class-name5 {
    align-self: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .gallery-horizontal-root-class-name6 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .gallery-horizontal-root-class-name7 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .gallery-horizontal-root-class-name8 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .gallery-horizontal-root-class-name9 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .gallery-horizontal-root-class-name10 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .gallery-horizontal-root-class-name11 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .gallery-horizontal-root-class-name12 {
    margin-top: 0px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
}
@media(max-width: 479px) {
  .gallery-horizontal-root-class-name5 {
    margin-bottom: 0px;
  }
  .gallery-horizontal-root-class-name6 {
    margin-top: 0px;
  }
  .gallery-horizontal-root-class-name7 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .gallery-horizontal-root-class-name8 {
    margin-top: 0px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0it;
  }
  .gallery-horizontal-root-class-name9 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .gallery-horizontal-root-class-name10 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .gallery-horizontal-root-class-name11 {
    margin-top: 0px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-right: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #595959;
}
.footer-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  margin-left: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.footer-logo {
  height: 2rem;
}
.footer-container1 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.footer-copyright {
  color: #ffffff;
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.footer-icon-group {
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-link {
  display: contents;
}
.footer-simplex {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  object-fit: cover;
  text-decoration: none;
}
.footer-link1 {
  display: contents;
}
.footer-mail {
  fill: #D9D9D9;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.footer-link2 {
  display: contents;
}
.footer-phone {
  fill: #D9D9D9;
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.footer-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container2 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: row;
  justify-content: space-between;
}
.footer-navigate {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.footer-navigate1 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-home {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-portraits {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-application-photos {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-travel {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.footer-info {
  flex: 0 0 auto;
  height: 172px;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.footer-info1 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-prices {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-portfolio {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-contact {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-social {
  height: 173px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-social1 {
  flex: 0 0 auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: 113px;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-social2 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-simplex-chat {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-git-hub {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-mastodon {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-linked-in {
  color: rgb(255, 255, 255);
  text-decoration: none;
}





.footer-root-class-name5 {
  max-width: 100%;
}
@media(max-width: 1600px) {
  .footer-footer {
    max-width: auto;
  }
  .footer-container2 {
    margin-right: var(--dl-space-space-sixunits);
    justify-content: flex-end;
  }
  .footer-root-class-name5 {
    width: 100VW;
  }
}
@media(max-width: 1200px) {
  .footer-footer {
    max-width: 100%;
  }
  .footer-container {
    margin-left: var(--dl-space-space-fourunits);
  }
  .footer-links-container {
    width: 572px;
  }
  .footer-container2 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .footer-navigate {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 991px) {
  .footer-footer {
    width: 100%;
    position: relative;
    flex-direction: column;
  }
  .footer-logo {
    top: 89px;
    left: 45px;
    position: absolute;
  }
  .footer-container1 {
    top: 118px;
    left: 64px;
    position: absolute;
    align-items: center;
  }
  .footer-copyright {
    top: -4px;
    left: -10px;
    width: var(--dl-size-size-xxlarge);
    position: absolute;
    font-family: Open Sans;
  }
  .footer-icon-group {
    width: auto;
    height: auto;
    display: none;
    align-self: flex-start;
    margin-top: var(--dl-space-space-fiveunits);
    margin-bottom: 0px;
  }
  .footer-links-container {
    width: 0px;
    margin-top: var(--dl-space-space-twounits);
    flex-direction: row;
  }
  .footer-container2 {
    margin-right: 0px;
  }
  .footer-navigate {
    width: auto;
    height: auto;
    align-items: flex-start;
    margin-left: 0xUnits;
    margin-right: 0px;
    justify-content: center;
  }
  .footer-info {
    width: auto;
    height: auto;
    align-self: stretch;
    margin-left: 0px;
    margin-right: 0px;
  }
  .footer-social {
    width: auto;
    height: auto;
    margin-left: 0px;
    padding-left: 0px;
  }
  .footer-social1 {
    align-self: stretch;
    align-items: flex-start;
    margin-left: var(--dl-space-space-threeunits);
    margin-right: 0px;
    justify-content: flex-start;
  }
}
@media(max-width: 767px) {
  .footer-footer {
    height: auto;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-logo {
    display: none;
    position: static;
    align-self: center;
    margin-left: var(--dl-space-space-sixunits);
  }
  .footer-container1 {
    position: static;
    align-items: center;
    justify-content: center;
  }
  .footer-copyright {
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: 100%;
    position: static;
    align-self: flex-start;
  }
  .footer-icon-group {
    display: none;
  }
  .footer-links-container {
    width: auto;
    display: none;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-container2 {
    width: 100%;
    justify-content: space-between;
  }
  .footer-info {
    margin-right: 0px;
  }
  .footer-social {
    margin-top: var(--dl-space-space-twounits);
  }
  .footer-social1 {
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    height: auto;
    padding: var(--dl-space-space-unit);
  }
  .footer-logo {
    width: 50%;
    height: 50%em;
    display: none;
    margin-bottom: 0px;
  }
  .footer-copyright {
    margin-top: 0px;
  }
  .footer-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-container2 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
  .footer-navigate {
    margin-right: var(--dl-space-space-unit);
  }
  .footer-info {
    align-self: stretch;
  }
}

.application-photos-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #27272D;
}
.application-photos-text {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: Open Sans;
  margin-bottom: var(--dl-space-space-twounits);
}
