.navbar-interactive-container {
  display: flex;
  position: relative;
}
.navbar-interactive-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.navbar-interactive-desktop-menu {
  display: flex;
  align-self: center;
  justify-content: center;
}
.navbar-interactive-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar-interactive-home {
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  text-decoration: none;
}
.navbar-interactive-portraits {
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-application-photos {
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-travel {
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-prices {
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-portfolio {
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-contact {
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.navbar-interactive-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-interactive-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-interactive-image {
  height: 2rem;
}
.navbar-interactive-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-interactive-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-home1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-portraits1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-application-photos1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-travel1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-prices1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-portfolio1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-contact1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-icon-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}






@media(max-width: 1200px) {
  .navbar-interactive-portfolio {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    text-decoration: none;
  }
}
@media(max-width: 767px) {
  .navbar-interactive-navbar-interactive {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .navbar-interactive-desktop-menu {
    display: none;
  }
  .navbar-interactive-portraits {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-application-photos {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-travel {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-prices {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-portfolio {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-contact {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-burger-menu {
    display: flex;
  }
  .navbar-interactive-icon {
    fill: #D9D9D9;
  }
  .navbar-interactive-mobile-menu {
    background-color: #27272D;
  }
  .navbar-interactive-icon2 {
    fill: #ffffff;
  }
  .navbar-interactive-home1 {
    color: rgb(255, 255, 255);
  }
  .navbar-interactive-portraits1 {
    color: rgb(255, 255, 255);
  }
  .navbar-interactive-application-photos1 {
    color: rgb(255, 255, 255);
  }
  .navbar-interactive-travel1 {
    color: rgb(255, 255, 255);
  }
  .navbar-interactive-prices1 {
    color: rgb(255, 255, 255);
  }
  .navbar-interactive-portfolio1 {
    color: rgb(255, 255, 255);
  }
  .navbar-interactive-contact1 {
    color: rgb(255, 255, 255);
  }
  .navbar-interactive-root-class-name {
    align-self: flex-start;
  }
  .navbar-interactive-root-class-name2 {
    align-self: flex-start;
  }
  .navbar-interactive-root-class-name3 {
    align-self: flex-start;
  }
  .navbar-interactive-root-class-name4 {
    align-self: flex-start;
  }
  .navbar-interactive-root-class-name5 {
    align-self: flex-start;
  }
}
@media(max-width: 479px) {
  .navbar-interactive-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar-interactive-mobile-menu {
    padding: 16px;
  }
  .navbar-interactive-root-class-name3 {
    align-self: flex-start;
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-right: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #595959;
}
.footer-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  margin-left: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.footer-logo {
  height: 2rem;
}
.footer-container1 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.footer-copyright {
  color: #ffffff;
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.footer-icon-group {
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-link {
  display: contents;
}
.footer-simplex {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  object-fit: cover;
  text-decoration: none;
}
.footer-link1 {
  display: contents;
}
.footer-mail {
  fill: #D9D9D9;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.footer-link2 {
  display: contents;
}
.footer-phone {
  fill: #D9D9D9;
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.footer-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container2 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: row;
  justify-content: space-between;
}
.footer-navigate {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.footer-navigate1 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-home {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-portraits {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-application-photos {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-travel {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.footer-info {
  flex: 0 0 auto;
  height: 172px;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.footer-info1 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-prices {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-portfolio {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-contact {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-social {
  height: 173px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-social1 {
  flex: 0 0 auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: 113px;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-social2 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-simplex-chat {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-git-hub {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-mastodon {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-linked-in {
  color: rgb(255, 255, 255);
  text-decoration: none;
}





.footer-root-class-name5 {
  max-width: 100%;
}
@media(max-width: 1600px) {
  .footer-footer {
    max-width: auto;
  }
  .footer-container2 {
    margin-right: var(--dl-space-space-sixunits);
    justify-content: flex-end;
  }
  .footer-root-class-name5 {
    width: 100VW;
  }
}
@media(max-width: 1200px) {
  .footer-footer {
    max-width: 100%;
  }
  .footer-container {
    margin-left: var(--dl-space-space-fourunits);
  }
  .footer-logo {
    display: none;
  }
  .footer-container1 {
    display: none;
  }
  .footer-links-container {
    width: 572px;
  }
  .footer-container2 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .footer-navigate {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 991px) {
  .footer-footer {
    width: 100%;
    position: relative;
    flex-direction: column;
  }
  .footer-logo {
    top: 89px;
    left: 45px;
    position: absolute;
  }
  .footer-container1 {
    top: 118px;
    left: 64px;
    position: absolute;
    align-items: center;
  }
  .footer-copyright {
    top: -4px;
    left: -10px;
    width: var(--dl-size-size-xxlarge);
    position: absolute;
    font-family: Open Sans;
  }
  .footer-icon-group {
    width: auto;
    height: auto;
    display: none;
    align-self: flex-start;
    margin-top: var(--dl-space-space-fiveunits);
    margin-bottom: 0px;
  }
  .footer-links-container {
    width: 0px;
    margin-top: var(--dl-space-space-twounits);
    flex-direction: row;
  }
  .footer-container2 {
    margin-right: 0px;
  }
  .footer-navigate {
    width: auto;
    height: auto;
    align-items: flex-start;
    margin-left: 0xUnits;
    margin-right: 0px;
    justify-content: center;
  }
  .footer-info {
    width: auto;
    height: auto;
    align-self: stretch;
    margin-left: 0px;
    margin-right: 0px;
  }
  .footer-social {
    width: auto;
    height: auto;
    margin-left: 0px;
    padding-left: 0px;
  }
  .footer-social1 {
    align-self: stretch;
    align-items: flex-start;
    margin-left: var(--dl-space-space-threeunits);
    margin-right: 0px;
    justify-content: flex-start;
  }
}
@media(max-width: 767px) {
  .footer-footer {
    height: auto;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-logo {
    display: none;
    position: static;
    align-self: center;
    margin-left: var(--dl-space-space-sixunits);
  }
  .footer-container1 {
    position: static;
    align-items: center;
    justify-content: center;
  }
  .footer-copyright {
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: 100%;
    position: static;
    align-self: flex-start;
  }
  .footer-icon-group {
    display: none;
  }
  .footer-links-container {
    width: auto;
    display: none;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-container2 {
    width: 100%;
    justify-content: space-between;
  }
  .footer-info {
    margin-right: 0px;
  }
  .footer-social {
    margin-top: var(--dl-space-space-twounits);
  }
  .footer-social1 {
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    height: auto;
    padding: var(--dl-space-space-unit);
  }
  .footer-logo {
    width: 50%;
    height: 50%em;
    display: none;
    margin-bottom: 0px;
  }
  .footer-copyright {
    margin-top: 0px;
  }
  .footer-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-container2 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
  .footer-navigate {
    margin-right: var(--dl-space-space-unit);
  }
  .footer-info {
    align-self: stretch;
  }
}

.prices-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #27272D;
}
.prices-pricing {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: center;
  background-image: url("public/Backgrounds/pricing-background-1500w.jpg");
}
.prices-container01 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  background-size: cover;
  justify-content: center;
}
.prices-pricing-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #D2D2D8;
}
.prices-pricing-card:hover {
  transform: scale(1.02);
}
.prices-text {
  font-size: 1.5rem;
  font-family: Open Sans;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.prices-container02 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.prices-text03 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-family: Open Sans;
  font-weight: 300;
  margin-right: var(--dl-space-space-halfunit);
}
.prices-text04 {
  font-size: 4rem;
  font-family: "Open Sans";
  font-weight: 700;
}
.prices-container03 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.prices-text05 {
  font-family: Open Sans;
  margin-bottom: var(--dl-space-space-unit);
}
.prices-text06 {
  font-family: Open Sans;
  margin-bottom: var(--dl-space-space-unit);
}
.prices-text09 {
  font-family: Open Sans;
  margin-bottom: var(--dl-space-space-unit);
}
.prices-text12 {
  font-family: Open Sans;
  margin-bottom: var(--dl-space-space-unit);
}
.prices-link {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  font-family: "Open Sans";
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.prices-pricing-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  background-color: #D2D2D8;
}
.prices-pricing-card1:hover {
  transform: scale(1.02);
}
.prices-text13 {
  font-size: 1.5rem;
  font-family: Open Sans;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.prices-container04 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.prices-text16 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-family: Open Sans;
  font-weight: 300;
  margin-right: var(--dl-space-space-halfunit);
}
.prices-text17 {
  font-size: 4rem;
  font-family: "Open Sans";
  font-weight: 700;
}
.prices-container05 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.prices-text18 {
  font-family: "Open Sans";
  margin-bottom: var(--dl-space-space-unit);
}
.prices-text19 {
  font-family: "Open Sans";
  margin-bottom: var(--dl-space-space-unit);
}
.prices-text22 {
  font-family: Open Sans;
  margin-bottom: var(--dl-space-space-unit);
}
.prices-text23 {
  font-family: Open Sans;
  margin-bottom: var(--dl-space-space-unit);
}
.prices-text24 {
  font-family: Open Sans;
  margin-bottom: var(--dl-space-space-unit);
}
.prices-link01 {
  color: var(--dl-color-gray-white);
  align-self: center;
  margin-top: auto;
  font-family: "Open Sans";
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.prices-pricing-card2 {
  width: 100%;
  display: flex;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: #D2D2D8;
}
.prices-pricing-card2:hover {
  transform: scale(1.02);
}
.prices-text25 {
  font-size: 1.5rem;
  font-family: Open Sans;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.prices-container06 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.prices-text28 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-family: Open Sans;
  font-weight: 300;
  margin-right: var(--dl-space-space-halfunit);
}
.prices-text29 {
  width: auto;
  font-size: 4rem;
  font-family: "Open Sans";
  font-weight: 700;
}
.prices-container07 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.prices-text30 {
  font-family: Open Sans;
  margin-bottom: var(--dl-space-space-unit);
}
.prices-text33 {
  font-family: Open Sans;
  margin-bottom: var(--dl-space-space-unit);
}
.prices-text36 {
  font-family: Open Sans;
  margin-bottom: var(--dl-space-space-unit);
}
.prices-text37 {
  font-family: Open Sans;
  margin-bottom: var(--dl-space-space-unit);
}
.prices-link02 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  font-family: "Open Sans";
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.prices-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.prices-pricing1 {
  width: 50%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-end;
  flex-direction: column;
}
.prices-link03 {
  display: contents;
}
.prices-card {
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.prices-container09 {
  width: 368px;
  display: flex;
  min-width: auto;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: center;
}
.prices-text40 {
  font-size: 1.5rem;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-weight: 600;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.prices-text41 {
  font-size: 1.5rem;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}
.prices-button {
  color: var(--dl-color-gray-white);
  margin-top: 0px;
  transition: 0.3s;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.prices-button:hover {
  transform: scale(1.02);
}
.prices-link04 {
  display: contents;
}
.prices-card01 {
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.prices-container10 {
  width: 368px;
  display: flex;
  min-width: auto;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: center;
}
.prices-text42 {
  font-size: 1.5rem;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-weight: 600;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.prices-text43 {
  font-size: 1.5rem;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}
.prices-button01 {
  color: var(--dl-color-gray-white);
  margin-top: 0px;
  transition: 0.3s;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.prices-button01:hover {
  transform: scale(1.02);
}
.prices-link05 {
  display: contents;
}
.prices-card02 {
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.prices-container11 {
  width: 368px;
  display: flex;
  min-width: auto;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: center;
}
.prices-text44 {
  font-size: 1.5rem;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-weight: 600;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.prices-text45 {
  font-size: 1.5rem;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}
.prices-button02 {
  color: var(--dl-color-gray-white);
  margin-top: 0px;
  transition: 0.3s;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.prices-button02:hover {
  transform: scale(1.02);
}
.prices-link06 {
  display: contents;
}
.prices-card03 {
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.prices-container12 {
  width: 368px;
  display: flex;
  min-width: auto;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: center;
}
.prices-text46 {
  font-size: 1.5rem;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-weight: 600;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.prices-text47 {
  font-size: 1.5rem;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}
.prices-button03 {
  color: var(--dl-color-gray-white);
  margin-top: 0px;
  transition: 0.3s;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.prices-button03:hover {
  transform: scale(1.02);
}
.prices-link07 {
  display: contents;
}
.prices-card04 {
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.prices-container13 {
  width: 368px;
  display: flex;
  min-width: auto;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: center;
}
.prices-text48 {
  font-size: 1.5rem;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-weight: 600;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.prices-text51 {
  font-size: 1.5rem;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}
.prices-button04 {
  color: var(--dl-color-gray-white);
  margin-top: 0px;
  transition: 0.3s;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.prices-button04:hover {
  transform: scale(1.02);
}
.prices-pricing2 {
  width: 50%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.prices-link08 {
  display: contents;
}
.prices-card05 {
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.prices-container14 {
  width: 368px;
  display: flex;
  min-width: auto;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: center;
}
.prices-text52 {
  font-size: 1.5rem;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-weight: 600;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.prices-text53 {
  font-size: 1.5rem;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}
.prices-button05 {
  color: var(--dl-color-gray-white);
  margin-top: 0px;
  transition: 0.3s;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.prices-button05:hover {
  transform: scale(1.02);
}
.prices-link09 {
  display: contents;
}
.prices-card06 {
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.prices-container15 {
  width: 368px;
  display: flex;
  min-width: auto;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: center;
}
.prices-text54 {
  font-size: 1.5rem;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-weight: 600;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.prices-text55 {
  font-size: 1.5rem;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}
.prices-button06 {
  color: var(--dl-color-gray-white);
  margin-top: 0px;
  transition: 0.3s;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.prices-button06:hover {
  transform: scale(1.02);
}
.prices-link10 {
  display: contents;
}
.prices-card07 {
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.prices-container16 {
  width: 368px;
  display: flex;
  min-width: auto;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: center;
}
.prices-text56 {
  font-size: 1.5rem;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-weight: 600;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.prices-text57 {
  font-size: 1.5rem;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}
.prices-button07 {
  color: var(--dl-color-gray-white);
  margin-top: 0px;
  transition: 0.3s;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.prices-button07:hover {
  transform: scale(1.02);
}
.prices-link11 {
  display: contents;
}
.prices-card08 {
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.prices-container17 {
  width: 368px;
  display: flex;
  min-width: auto;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: center;
}
.prices-text58 {
  font-size: 1.5rem;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-weight: 600;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.prices-text59 {
  font-size: 1.5rem;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}
.prices-button08 {
  color: var(--dl-color-gray-white);
  margin-top: 0px;
  transition: 0.3s;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.prices-button08:hover {
  transform: scale(1.02);
}
.prices-link12 {
  display: contents;
}
.prices-card09 {
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.prices-container18 {
  width: 368px;
  display: flex;
  min-width: auto;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: center;
}
.prices-text60 {
  font-size: 1.5rem;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-weight: 600;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.prices-text61 {
  font-size: 1.5rem;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}
.prices-button09 {
  color: var(--dl-color-gray-white);
  margin-top: 0px;
  transition: 0.3s;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.prices-button09:hover {
  transform: scale(1.02);
}
@media(max-width: 1600px) {
  .prices-pricing1 {
    padding: var(--dl-space-space-unit);
  }
  .prices-pricing2 {
    padding: var(--dl-space-space-unit);
  }
  .prices-container14 {
    width: 368px;
  }
}
@media(max-width: 1200px) {
  .prices-link {
    margin-left: 0px;
  }
  .prices-link01 {
    margin-left: 0px;
  }
  .prices-link02 {
    margin-left: 0px;
  }
  .prices-pricing1 {
    align-items: flex-end;
    padding-top: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: center;
  }
  .prices-container09 {
    width: 260px;
    padding-left: var(--dl-space-space-unit);
  }
  .prices-text40 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .prices-button {
    margin-left: var(--dl-space-space-twounits);
  }
  .prices-container10 {
    width: 260px;
    padding-left: var(--dl-space-space-unit);
  }
  .prices-text42 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .prices-button01 {
    margin-left: var(--dl-space-space-twounits);
  }
  .prices-container11 {
    width: 260px;
    padding-left: var(--dl-space-space-unit);
  }
  .prices-text44 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .prices-button02 {
    margin-left: var(--dl-space-space-twounits);
  }
  .prices-container12 {
    width: 260px;
    padding-left: var(--dl-space-space-unit);
  }
  .prices-text46 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .prices-button03 {
    margin-left: var(--dl-space-space-twounits);
  }
  .prices-container13 {
    width: 260px;
    padding-left: var(--dl-space-space-unit);
  }
  .prices-text48 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .prices-button04 {
    margin-left: var(--dl-space-space-twounits);
  }
  .prices-pricing2 {
    width: 50%;
    padding: var(--dl-space-space-twounits);
    align-self: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .prices-container14 {
    width: 260px;
  }
  .prices-text52 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .prices-button05 {
    margin-left: var(--dl-space-space-twounits);
  }
  .prices-card06 {
    width: auto;
  }
  .prices-container15 {
    width: 260px;
  }
  .prices-text54 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .prices-button06 {
    margin-left: var(--dl-space-space-twounits);
  }
  .prices-container16 {
    width: 260px;
    padding-left: var(--dl-space-space-unit);
  }
  .prices-text56 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .prices-button07 {
    margin-left: var(--dl-space-space-twounits);
  }
  .prices-container17 {
    width: 260px;
    padding-left: var(--dl-space-space-unit);
  }
  .prices-text58 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .prices-button08 {
    margin-left: var(--dl-space-space-twounits);
  }
  .prices-container18 {
    width: 260px;
    padding-left: var(--dl-space-space-unit);
  }
  .prices-text60 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .prices-button09 {
    margin-left: var(--dl-space-space-twounits);
  }
}
@media(max-width: 991px) {
  .prices-pricing-card {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    max-width: 100%;
    align-items: center;
  }
  .prices-link {
    display: none;
  }
  .prices-pricing-card1 {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
  }
  .prices-link01 {
    display: none;
  }
  .prices-pricing-card2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .prices-link02 {
    display: none;
  }
  .prices-container08 {
    flex-direction: row;
  }
  .prices-pricing1 {
    width: 50%;
    align-self: center;
    align-items: flex-end;
  }
  .prices-text40 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .prices-text41 {
    padding-right: var(--dl-space-space-twounits);
  }
  .prices-button {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .prices-text42 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .prices-text43 {
    padding-right: var(--dl-space-space-twounits);
  }
  .prices-button01 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .prices-text44 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .prices-text45 {
    padding-right: var(--dl-space-space-twounits);
  }
  .prices-button02 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .prices-text46 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .prices-text47 {
    padding-right: var(--dl-space-space-twounits);
  }
  .prices-button03 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .prices-text48 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .prices-text51 {
    padding-right: var(--dl-space-space-twounits);
  }
  .prices-button04 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .prices-card05 {
    width: 260px;
  }
  .prices-container14 {
    width: auto;
  }
  .prices-text52 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .prices-text53 {
    padding-right: var(--dl-space-space-twounits);
  }
  .prices-button05 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .prices-container15 {
    padding-left: var(--dl-space-space-unit);
  }
  .prices-text54 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .prices-text55 {
    padding-right: var(--dl-space-space-unit);
  }
  .prices-button06 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .prices-text56 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .prices-text57 {
    padding-right: var(--dl-space-space-twounits);
  }
  .prices-button07 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .prices-text58 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .prices-text59 {
    padding-right: var(--dl-space-space-twounits);
  }
  .prices-button08 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .prices-text60 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .prices-text61 {
    padding-right: var(--dl-space-space-twounits);
  }
  .prices-button09 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .prices-container01 {
    flex-flow: column;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .prices-pricing-card {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .prices-pricing-card1 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .prices-link01 {
    display: none;
  }
  .prices-pricing-card2 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .prices-container08 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .prices-pricing1 {
    width: 65%;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: 0px;
  }
  .prices-card {
    width: 100%;
    flex-direction: column;
  }
  .prices-container09 {
    width: 100%;
  }
  .prices-card01 {
    width: 100%;
    flex-direction: column;
  }
  .prices-container10 {
    width: 100%;
  }
  .prices-card02 {
    width: 100%;
    flex-direction: column;
  }
  .prices-container11 {
    width: 100%;
  }
  .prices-card03 {
    width: 100%;
    flex-direction: column;
  }
  .prices-container12 {
    width: 100%;
  }
  .prices-card04 {
    width: 100%;
    flex-direction: column;
  }
  .prices-container13 {
    width: 100%;
  }
  .prices-pricing2 {
    width: 65%;
    padding-top: 0px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .prices-card05 {
    width: 100%;
    flex-direction: column;
  }
  .prices-container14 {
    width: 100%;
  }
  .prices-card06 {
    width: 100%;
    flex-direction: column;
  }
  .prices-container15 {
    width: 100%;
  }
  .prices-card07 {
    width: 100%;
    flex-direction: column;
  }
  .prices-container16 {
    width: 100%;
  }
  .prices-card08 {
    width: 100%;
    flex-direction: column;
  }
  .prices-container17 {
    width: 100%;
  }
  .prices-card09 {
    width: 100%;
    flex-direction: column;
  }
  .prices-container18 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .prices-container01 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .prices-link01 {
    display: none;
  }
  .prices-pricing-card2 {
    margin-bottom: 0px;
  }
  .prices-pricing1 {
    width: 100%;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 0px;
  }
  .prices-text41 {
    padding-left: var(--dl-space-space-twounits);
  }
  .prices-text43 {
    padding-left: var(--dl-space-space-twounits);
  }
  .prices-text45 {
    padding-left: var(--dl-space-space-twounits);
  }
  .prices-text47 {
    padding-left: var(--dl-space-space-twounits);
  }
  .prices-text51 {
    padding-left: var(--dl-space-space-twounits);
  }
  .prices-pricing2 {
    width: 100%;
    padding-top: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .prices-text53 {
    padding-left: var(--dl-space-space-twounits);
  }
  .prices-text55 {
    padding-left: var(--dl-space-space-twounits);
  }
  .prices-text57 {
    padding-left: var(--dl-space-space-twounits);
  }
  .prices-text59 {
    padding-left: var(--dl-space-space-twounits);
  }
  .prices-text61 {
    padding-left: var(--dl-space-space-twounits);
  }
}
