.book-a-session-book-a-session {
  width: 100%;
  height: 297px;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #D2D2D8;
}
.book-a-session-text {
  color: #27272d;
  width: 35%;
  align-self: center;
  text-align: center;
  font-family: Open Sans;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
.book-a-session-container {
  flex: 0 0 auto;
  width: 60%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  margin-right: 0px;
  flex-direction: column;
  justify-content: center;
}
.book-a-session-text1 {
  color: #27272d;
  width: 60%;
  margin-top: var(--dl-space-space-unit);
  text-align: justify;
  font-family: Open Sans;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-unit);
}
.book-a-session-booking {
  margin-left: 0px;
}
@media(max-width: 1600px) {
  .book-a-session-container {
    align-items: center;
    justify-content: center;
  }
  .book-a-session-text1 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .book-a-session-booking {
    align-self: center;
    margin-left: 0px;
  }
}
@media(max-width: 1200px) {
  .book-a-session-booking {
    align-self: center;
  }
}
@media(max-width: 991px) {
  .book-a-session-book-a-session {
    width: 100%;
    height: 442px;
    flex-direction: column;
  }
  .book-a-session-text {
    top: 48px;
    left: 0px;
    right: 0px;
    width: 60%;
    margin: auto;
    position: absolute;
    padding-top: 0px;
  }
  .book-a-session-container {
    position: relative;
    margin-right: 0px;
  }
  .book-a-session-text1 {
    align-self: center;
    text-align: center;
  }
  .book-a-session-booking {
    left: 0px;
    right: 0px;
    width: 50%;
    margin: auto;
  }
}
@media(max-width: 767px) {
  .book-a-session-book-a-session {
    width: 100%;
    height: 450px;
    margin-bottom: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .book-a-session-text {
    left: 0px;
    right: 0px;
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .book-a-session-container {
    margin-top: 0px;
    margin-right: 0px;
  }
  .book-a-session-text1 {
    width: 80%;
    margin: var(--dl-space-space-twounits);
    margin-top: 0px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .book-a-session-booking {
    width: 70%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
@media(max-width: 479px) {
  .book-a-session-book-a-session {
    width: auto;
    height: 650px;
    justify-content: flex-start;
  }
  .book-a-session-text {
    left: 0px;
    right: 0px;
    width: 80%;
    bottom: 0px;
    position: static;
    align-self: center;
    margin-top: var(--dl-space-space-threeunits);
    text-align: center;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .book-a-session-container {
    margin-top: var(--dl-space-space-unit);
  }
  .book-a-session-text1 {
    width: 80%;
    align-self: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .book-a-session-booking {
    left: 0px;
    right: 0px;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}
