<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-container">
      <img alt="logo" src="public/Icons/logo%20white.svg" class="footer-logo" />
      <div class="footer-container1">
        <span class="footer-copyright">
          <span>© 2023 braun Photography,</span>
          <br />
          <span>All Rights Reserved.</span>
        </span>
        <div class="footer-icon-group">
          <a
            href="https://simplex.chat/contact#/?v=1-2&amp;smp=smp%3A%2F%2F6iIcWT_dF2zN_w5xzZEY7HI2Prbh3ldP07YTyDexPjE%3D%40smp10.simplex.im%2F3e3JDODknrjU0ImNrqPRWV0pkiUcdS2y%23%2F%3Fv%3D1-2%26dh%3DMCowBQYDK2VuAyEAmmRuxr3VcImgiqqxp6-oWGMRPjg-cMTafbB7e4NI1Tw%253D%26srv%3Drb2pbttocvnbrngnwziclp2f4ckjq65kebafws6g4hy22cdaiv5dwjqd.onion"
            target="_blank"
            rel="noreferrer noopener"
            class="footer-link"
          >
            <img
              alt="image"
              src="public/Icons/simplex-200h.png"
              class="footer-simplex"
            />
          </a>
          <a href="mailto:photography@braun.is?subject=" class="footer-link1">
            <svg viewBox="0 0 1024 1024" class="footer-mail">
              <path
                d="M854 342v-86l-342 214-342-214v86l342 212zM854 170q34 0 59 26t25 60v512q0 34-25 60t-59 26h-684q-34 0-59-26t-25-60v-512q0-34 25-60t59-26h684z"
              ></path>
            </svg>
          </a>
          <a href="tel:+358414821715" class="footer-link2">
            <svg viewBox="0 0 1024 1024" class="footer-phone">
              <path
                d="M282 460q96 186 282 282l94-94q20-20 44-10 72 24 152 24 18 0 30 12t12 30v150q0 18-12 30t-30 12q-300 0-513-213t-213-513q0-18 12-30t30-12h150q18 0 30 12t12 30q0 80 24 152 8 26-10 44z"
              ></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="footer-links-container">
      <div class="footer-container2">
        <div class="footer-navigate">
          <span class="footer-navigate1"><span>NAVIGATE</span></span>
          <a href="index.html" class="footer-home"><span>Home</span></a>
          <a href="portraits.html" class="footer-portraits">
            <span>Portraits</span>
          </a>
          <a href="application-photos.html" class="footer-application-photos">
            <span>Application Photos</span>
          </a>
          <a href="travel.html" class="footer-travel"><span>Travel</span></a>
        </div>
        <div class="footer-info">
          <span class="footer-info1"><span>INFO</span></span>
          <a href="prices.html" class="footer-prices"><span>Prices</span></a>
          <a href="contact.html" class="footer-contact"><span>Contact</span></a>
        </div>
        <div class="footer-social">
          <div class="footer-social1">
            <span class="footer-social2"><span>SOCIAL</span></span>
            <a
              href="https://simplex.chat/contact#/?v=1-2&smp=smp%3A%2F%2F6iIcWT_dF2zN_w5xzZEY7HI2Prbh3ldP07YTyDexPjE%3D%40smp10.simplex.im%2F3e3JDODknrjU0ImNrqPRWV0pkiUcdS2y%23%2F%3Fv%3D1-2%26dh%3DMCowBQYDK2VuAyEAmmRuxr3VcImgiqqxp6-oWGMRPjg-cMTafbB7e4NI1Tw%253D%26srv%3Drb2pbttocvnbrngnwziclp2f4ckjq65kebafws6g4hy22cdaiv5dwjqd.onion"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-simplex-chat"
            >
              <span>Simplex-Chat</span>
            </a>
            <a
              href="https://github.com/Tellervo89"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-git-hub"
            >
              <span>GitHub</span>
            </a>
            <a
              href="https://mastodon.online/@sjard"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-mastodon"
            >
              <span>Mastodon</span>
            </a>
            <a
              href="https://www.linkedin.com/in/sjard"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-linked-in"
            >
              <span>LinkedIn</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
