<div>
  <link href="./gallery-horizontal.css" rel="stylesheet" />
  <div class="gallery-horizontal-gallery-horizontal">
    <a
      href
      target="_blank"
      rel="noreferrer noopener"
      class="gallery-horizontal-link"
    >
      <img
        alt="image portrait of a person"
        src="public/Portraits/portrait-horizontal-1400w.jpg"
        loading="eager"
        class="gallery-horizontal-image"
      />
    </a>
    <a
      href
      target="_blank"
      rel="noreferrer noopener"
      class="gallery-horizontal-link1"
    >
      <img
        alt="image portrait of a person"
        src="public/Portraits/portrait-horizontal-1400w.jpg"
        loading="eager"
        class="gallery-horizontal-image1"
      />
    </a>
    <a
      href
      target="_blank"
      rel="noreferrer noopener"
      class="gallery-horizontal-link2"
    >
      <img
        alt="image portrait of a person"
        src="public/Portraits/portrait-horizontal-1400w.jpg"
        loading="eager"
        class="gallery-horizontal-image2"
      />
    </a>
  </div>
</div>
