.gallery-horizontal-gallery-horizontal {
  flex: 0 0 auto;
  width: 90%;
  height: auto;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.gallery-horizontal-link {
  display: contents;
}
.gallery-horizontal-image {
  width: 32%;
  height: 100%;
  align-self: center;
  object-fit: cover;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.gallery-horizontal-link1 {
  display: contents;
}
.gallery-horizontal-image1 {
  width: 32%;
  height: 100%;
  align-self: center;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.gallery-horizontal-link2 {
  display: contents;
}
.gallery-horizontal-image2 {
  width: 32%;
  height: 100%;
  align-self: center;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  margin-right: 0px;
  text-decoration: none;
}
.gallery-horizontal-root-class-name {
  width: 95%;
  margin: var(--dl-space-space-unit);
}
.gallery-horizontal-root-class-name1 {
  width: 95%;
  margin-bottom: var(--dl-space-space-twounits);
}
.gallery-horizontal-root-class-name2 {
  width: 95%;
}
.gallery-horizontal-root-class-name3 {
  width: 95%;
}
.gallery-horizontal-root-class-name4 {
  width: 95%;
  margin-bottom: var(--dl-space-space-twounits);
}
.gallery-horizontal-root-class-name5 {
  width: 95%;
}
.gallery-horizontal-root-class-name6 {
  width: 95%;
  margin-bottom: var(--dl-space-space-twounits);
}
.gallery-horizontal-root-class-name7 {
  width: 95%;
}
.gallery-horizontal-root-class-name8 {
  width: 95%;
}
.gallery-horizontal-root-class-name9 {
  width: 95%;
}
.gallery-horizontal-root-class-name10 {
  width: 95%;
}
.gallery-horizontal-root-class-name11 {
  width: 95%;
}
.gallery-horizontal-root-class-name12 {
  width: 95%;
}
@media(max-width: 1600px) {
  .gallery-horizontal-gallery-horizontal {
    flex-direction: row;
  }
  .gallery-horizontal-image {
    height: 100%;
  }
  .gallery-horizontal-image1 {
    height: 100%;
  }
  .gallery-horizontal-image2 {
    height: 100%;
  }
}
@media(max-width: 991px) {
  .gallery-horizontal-root-class-name5 {
    width: 30%;
  }
}
@media(max-width: 767px) {
  .gallery-horizontal-gallery-horizontal {
    align-items: center;
    flex-direction: column;
  }
  .gallery-horizontal-image {
    width: 100%;
    margin: var(--dl-space-space-unit);
  }
  .gallery-horizontal-image1 {
    width: 100%;
    margin: var(--dl-space-space-unit);
  }
  .gallery-horizontal-image2 {
    width: 100%;
    margin: var(--dl-space-space-unit);
    margin-top: var(--dl-space-space-unit);
  }
  .gallery-horizontal-root-class-name {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .gallery-horizontal-root-class-name1 {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .gallery-horizontal-root-class-name2 {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .gallery-horizontal-root-class-name3 {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .gallery-horizontal-root-class-name4 {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .gallery-horizontal-root-class-name5 {
    width: 100%;
    align-self: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .gallery-horizontal-root-class-name6 {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .gallery-horizontal-root-class-name7 {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .gallery-horizontal-root-class-name8 {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .gallery-horizontal-root-class-name9 {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .gallery-horizontal-root-class-name10 {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .gallery-horizontal-root-class-name11 {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .gallery-horizontal-root-class-name12 {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}
@media(max-width: 479px) {
  .gallery-horizontal-root-class-name5 {
    width: 100%;
    margin-bottom: 0px;
  }
  .gallery-horizontal-root-class-name6 {
    margin-top: 0px;
  }
  .gallery-horizontal-root-class-name7 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .gallery-horizontal-root-class-name8 {
    margin-top: 0px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0it;
  }
  .gallery-horizontal-root-class-name9 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .gallery-horizontal-root-class-name10 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .gallery-horizontal-root-class-name11 {
    margin-top: 0px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
}
