.gallery-vertical-gallery-horizontal {
  flex: 0 0 auto;
  width: 90%;
  height: auto;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.gallery-vertical-link {
  display: contents;
}
.gallery-vertical-image {
  width: 100%;
  height: 100%;
  align-self: flex-start;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.gallery-vertical-link1 {
  display: contents;
}
.gallery-vertical-image1 {
  width: 100%;
  height: 100%;
  align-self: flex-start;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.gallery-vertical-link2 {
  display: contents;
}
.gallery-vertical-image2 {
  width: 100%;
  height: 100%;
  align-self: flex-start;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.gallery-vertical-link3 {
  display: contents;
}
.gallery-vertical-image3 {
  width: 100%;
  height: 100%;
  align-self: flex-start;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.gallery-vertical-root-class-name {
  width: 20%;
}
.gallery-vertical-root-class-name1 {
  width: 20%;
}
.gallery-vertical-root-class-name2 {
  width: 20%;
}
@media(max-width: 1600px) {
  .gallery-vertical-gallery-horizontal {
    flex-direction: row;
  }
  .gallery-vertical-image {
    height: 100%;
  }
  .gallery-vertical-image1 {
    height: 100%;
  }
  .gallery-vertical-image2 {
    height: 100%;
  }
  .gallery-vertical-image3 {
    height: 100%;
  }
}
@media(max-width: 767px) {
  .gallery-vertical-gallery-horizontal {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .gallery-vertical-image {
    margin: var(--dl-space-space-unit);
    align-self: center;
  }
  .gallery-vertical-image1 {
    margin: var(--dl-space-space-unit);
    align-self: center;
  }
  .gallery-vertical-image2 {
    margin: var(--dl-space-space-unit);
    align-self: center;
    margin-top: var(--dl-space-space-unit);
  }
  .gallery-vertical-image3 {
    margin: var(--dl-space-space-unit);
    align-self: center;
    margin-top: var(--dl-space-space-unit);
  }
  .gallery-vertical-root-class-name {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .gallery-vertical-root-class-name1 {
    width: 100%;
    align-self: flex-start;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .gallery-vertical-root-class-name2 {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}
