<div>
  <link href="./gallery-vertical.css" rel="stylesheet" />
  <div class="gallery-vertical-gallery-horizontal">
    <a
      href
      target="_blank"
      rel="noreferrer noopener"
      class="gallery-vertical-link"
    >
      <img
        alt="image"
        src="public/Portraits/portrait-vertical-1400w.jpg"
        loading="eager"
        class="gallery-vertical-image"
      />
    </a>
    <a
      href
      target="_blank"
      rel="noreferrer noopener"
      class="gallery-vertical-link1"
    >
      <img
        alt="image"
        src="public/Portraits/portrait-vertical-1400w.jpg"
        loading="eager"
        class="gallery-vertical-image1"
      />
    </a>
    <a
      href
      target="_blank"
      rel="noreferrer noopener"
      class="gallery-vertical-link2"
    >
      <img
        alt="image"
        src="public/Portraits/portrait-vertical-1400w.jpg"
        loading="eager"
        class="gallery-vertical-image2"
      />
    </a>
    <a
      href
      target="_blank"
      rel="noreferrer noopener"
      class="gallery-vertical-link3"
    >
      <img
        alt="image"
        src="public/Portraits/portrait-vertical-1400w.jpg"
        loading="eager"
        class="gallery-vertical-image3"
      />
    </a>
  </div>
</div>
