<div>
  <link href="./navbar-interactive.css" rel="stylesheet" />
  <div class="navbar-interactive-container">
    <header data-thq="thq-navbar" class="navbar-interactive-navbar-interactive">
      <div
        data-thq="thq-navbar-nav"
        data-role="Nav"
        class="navbar-interactive-desktop-menu"
      >
        <nav
          data-thq="thq-navbar-nav-links"
          data-role="Nav"
          class="navbar-interactive-nav"
        >
          <a href="index.html" class="navbar-interactive-home">
            <span>HOME</span>
          </a>
          <a href="portraits.html" class="navbar-interactive-portraits">
            <span>PORTRAITS</span>
          </a>
          <a
            href="application-photos.html"
            class="navbar-interactive-application-photos"
          >
            <span>APPLICATION PHOTOS</span>
            <br />
          </a>
          <a href="travel.html" class="navbar-interactive-travel">
            <span>TRAVEL</span>
          </a>
          <a href="prices.html" class="navbar-interactive-prices">
            <span>PRICES</span>
          </a>
          <a href="contact.html" class="navbar-interactive-contact">
            <span>CONTACT</span>
          </a>
        </nav>
      </div>
      <div data-thq="thq-burger-menu" class="navbar-interactive-burger-menu">
        <svg viewBox="0 0 1024 1024" class="navbar-interactive-icon">
          <path
            d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
          ></path>
        </svg>
      </div>
      <div data-thq="thq-mobile-menu" class="navbar-interactive-mobile-menu">
        <div
          data-thq="thq-mobile-menu-nav"
          data-role="Nav"
          class="navbar-interactive-nav1"
        >
          <div class="navbar-interactive-container1">
            <img
              alt="image"
              src="public/Icons/logo%20white.svg"
              class="navbar-interactive-image"
            />
            <div
              data-thq="thq-close-menu"
              class="navbar-interactive-menu-close"
            >
              <svg viewBox="0 0 1024 1024" class="navbar-interactive-icon2">
                <path
                  d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                ></path>
              </svg>
            </div>
          </div>
          <nav
            data-thq="thq-mobile-menu-nav-links"
            data-role="Nav"
            class="navbar-interactive-nav2"
          >
            <a href="index.html" class="navbar-interactive-home1">
              <span>Home</span>
            </a>
            <a href="portraits.html" class="navbar-interactive-portraits1">
              <span>Portraits</span>
            </a>
            <a
              href="application-photos.html"
              class="navbar-interactive-application-photos1"
            >
              <span>Application Photos</span>
              <br />
            </a>
            <a href="travel.html" class="navbar-interactive-travel1">
              <span>Travel</span>
            </a>
            <a href="prices.html" class="navbar-interactive-prices1">
              <span>Prices</span>
            </a>
            <a href="contact.html" class="navbar-interactive-contact1">
              <span>Contact</span>
            </a>
          </nav>
        </div>
        <div class="navbar-interactive-icon-group"></div>
      </div>
    </header>
  </div>
</div>
