.navbar-interactive-container {
  display: flex;
  position: relative;
}
.navbar-interactive-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.navbar-interactive-desktop-menu {
  display: flex;
  align-self: center;
  justify-content: center;
}
.navbar-interactive-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar-interactive-home {
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  text-decoration: none;
}
.navbar-interactive-portraits {
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-application-photos {
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-travel {
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-prices {
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-portfolio {
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-contact {
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.navbar-interactive-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-interactive-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-interactive-image {
  height: 2rem;
}
.navbar-interactive-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-interactive-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-home1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-portraits1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-application-photos1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-travel1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-prices1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-portfolio1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-contact1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-icon-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}






@media(max-width: 1200px) {
  .navbar-interactive-portfolio {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    text-decoration: none;
  }
}
@media(max-width: 767px) {
  .navbar-interactive-navbar-interactive {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .navbar-interactive-desktop-menu {
    display: none;
  }
  .navbar-interactive-portraits {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-application-photos {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-travel {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-prices {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-portfolio {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-contact {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-burger-menu {
    display: flex;
  }
  .navbar-interactive-icon {
    fill: #D9D9D9;
    width: 25px;
    height: 25px;
  }
  .navbar-interactive-mobile-menu {
    background-color: #27272D;
  }
  .navbar-interactive-icon2 {
    fill: #ffffff;
  }
  .navbar-interactive-home1 {
    color: rgb(255, 255, 255);
  }
  .navbar-interactive-portraits1 {
    color: rgb(255, 255, 255);
  }
  .navbar-interactive-application-photos1 {
    color: rgb(255, 255, 255);
  }
  .navbar-interactive-travel1 {
    color: rgb(255, 255, 255);
  }
  .navbar-interactive-prices1 {
    color: rgb(255, 255, 255);
  }
  .navbar-interactive-portfolio1 {
    color: rgb(255, 255, 255);
  }
  .navbar-interactive-contact1 {
    color: rgb(255, 255, 255);
  }
  .navbar-interactive-root-class-name {
    align-self: flex-start;
  }
  .navbar-interactive-root-class-name1 {
    align-self: flex-start;
  }
  .navbar-interactive-root-class-name2 {
    align-self: flex-start;
  }
  .navbar-interactive-root-class-name3 {
    align-self: flex-start;
  }
  .navbar-interactive-root-class-name4 {
    align-self: flex-start;
  }
  .navbar-interactive-root-class-name5 {
    align-self: flex-start;
  }
}
@media(max-width: 479px) {
  .navbar-interactive-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar-interactive-mobile-menu {
    padding: 16px;
  }
  .navbar-interactive-root-class-name3 {
    align-self: flex-start;
  }
}
