.services-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.services-blog-post-card:hover {
  transform: scale(1.02);
}
.services-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.services-container {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.services-service {
  color: #ffffff;
  font-size: 1.5rem;
  align-self: center;
  font-family: Open Sans;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.services-description {
  color: #ffffff;
  align-self: center;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}





.services-root-class-name5 {
  max-width: 100%;
  align-self: stretch;
  margin-top: 0px;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 0px;
}
.services-root-class-name6 {
  max-width: 100%;
  align-self: stretch;
  margin-top: 0px;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: 0px;
}
.services-root-class-name7 {
  max-width: 100%;
  align-self: stretch;
  margin-top: 0px;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 0px;
}
@media(max-width: 991px) {
  .services-image {
    width: 60%;
    height: 60%;
  }
  .services-description {
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
  }
  .services-root-class-name5 {
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .services-root-class-name6 {
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .services-root-class-name7 {
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .services-image {
    height: 100%;
  }
}
@media(max-width: 479px) {
  .services-root-class-name5 {
    align-self: flex-start;
  }
}
